<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>lettutor_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string></string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string></string>
		<key>NSCameraUsageDescription</key>
		<string></string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
			<string>vi</string>
		</array>
		<!-- Put me in the [my_project]/ios/Runner/Info.plist file -->
		<!-- Google Sign-in Section -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<!-- TODO Replace this value: -->
					<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
					<string>com.googleusercontent.apps.48884679142-4mf7s26bcccg9g5avnsqijt79uoja2qs</string>
					<string>fb3011920089081498</string>
				</array>
			</dict>
		</array>
		<!-- End of the Google Sign-in Section -->
		<key>FacebookAppID</key>
		<string>3011920089081498</string>
		<key>FacebookClientToken</key>
		<string>CLIENT-TOKEN</string>
		<key>FacebookDisplayName</key>
		<string>Lettutor</string>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) MyApp needs access to your camera for meetings.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>$(PRODUCT_NAME) MyApp needs access to your microphone for meetings.</string>
	</dict>
</plist>